.h1-TC {
  font-family: $font-ch;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 2.5rem;
  margin-bottom: 0;
}

.h1-EN {
  font-family: $font-en;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 2rem;
  margin-bottom: 0;
}

.h2-TC {
  font-family: $font-ch;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.3rem;
  margin-bottom: 0;
}

.h2-EN {
  font-family: $font-en;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.875rem;
  margin-bottom: 0;
}

.h3-TC {
  font-family: $font-ch;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 0;
}

.h3-EN {
  font-family: $font-en;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.64rem;
  margin-bottom: 0;
}

.h4-TC {
  font-family: $font-ch;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 0;
}

.copyright {
  font-family: $font-en;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-bottom: 0;
}
